{#
当前运行事实
#}
# 运行时事实
platform: {{ platform }}
shell: {{ shell_kind }}
working_directory: {{ working_directory }}
workspace_roots: {{ workspace_root }}
git_repository: {{ git_repository }}
{% for root in extra_roots %}
额外工作目录: {{ root }}
{% endfor %}
