{#
六个块的标题. 代表六个层级的提示词
#}
{% set headings = {
    "core_identity": "核心身份",
    "safety_rules": "安全边界",
    "tool_protocol": "工具时序",
    "work_rules": "工作方式",
    "answer_rules": "回答方式",
    "workspace_instructions": "项目指令",
} %}
{{ headings[block_id] }}
